<!doctype html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Article Log</h1>
	<form method="post" action="/articles">
		<input placeholder="title" name="article[title]"><br>
		<input placeholder="date" name="article[date]"><br>
		<textarea placeholder="content" name="article[content]">
		</textarea><br>
		<button>Save Article</button>
	</form>
</body>
</html>
